*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
html,body{
    width: 100%;
    height: 100%;
}

.login{
    width: 100%;
    height: 100vh;
    background-color: grey;
    display: flex;
}
.login-left{
    width: 34%;
    height: 100%;
    /* background-color: rebeccapurple; */
}
.login-left img{
    width: 100%;
    height: 100%;
    /* border: 3px solid rgb(12, 12, 11); */
}
.login-right{
    width: 66%;
    height: 100%;
    background-color: rgb(231, 231, 231);
    

}
.login-right svg {
    /* background-color: yellow; */
    margin-top: 12px;
    height: 32px;
    width: 16%;
    color: palevioletred;
}
.login-right h3{
    margin-top: -39px;
    text-align: end;
}

.login-right span{
    text-align: end;
    color: blueviolet;
}
.login-right h1{
  margin-top: 40px;
  margin-left: 200px;
  font-size:25px;
  letter-spacing: 2px;
   
}
.login-right p{
    margin-top: 20px;
    margin-left: 240px;
    color: rgb(203, 45, 150);
     
}
.form{
    margin-top: -60px;
    /* padding: 0px 2px; */
    
}
.form h1{
    margin-top: 70px;
   
}
.form input{
    border: 1px solid gray;
    margin-left: 20%;
    height: 36px;
    border-radius: 30px;
    width: 30%;
   /* text-align: center; */
   /* align-items: flex-start; */
}
.checkbox{
    margin-top: 19px;
    margin-left: 20%;
}
 .login button{
    background-color: rgb(210, 86, 162);
    color: white;
    padding: 12px;
    margin-top: 12px;
    margin-left: 21%;
    border-radius: 20px;
    width: 28%;
}
.login-right h4{
    margin-top: 20px;
    font-size: 14px;
    margin-left: 20%;
    color: rgb(83, 81, 81);
}
/* -----------------------------------------login-------------------------------------------------- */


.upload{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(255, 54, 54); */

}
.upload svg {
    /* background-color: yellow; */
    margin-left: -48px;
    margin-top: 25px;
    height: 32px;
    width: 16%;
    color: palevioletred;
}
.upload h1{
    margin-top: 80px;
    margin-left: 30%;
    padding-bottom: 20px;
}
.upload p{
    margin-left: 30%;
    color: gray;
}
.upload h2{
    margin-left: 30%;
    padding-top: 20px;
}
.b-1 button{
    height: 110%;
    width: 450%;
    border-radius: 50%;
    background-color: white;
    /* background-color: #423E35; */
    margin-left: 30%;
    border: 2px solid black;

    /* height: 120%;
    width: 293%;
    border-radius: 50%;
    background-color: white;
    margin-left: 30%; */
}
.add button{
    
    margin-top:60px ;
    font-size: 20px;
    width: 60%;
    background-color: white;
    color: black;
}
.add p{
    font-size:20px ;
    margin-left:-1px;
    color: gray;
}
.avtar{
    display: flex;
    margin-left: 30%;
    gap: 10vw;
}
.upload input{
    
    margin-left: 30%;
    width: 30%;
    height: 29px;
}
.but button{
    margin-top: 1vw;
    height: 39px;
    width: 11%;
    color: white;
    margin-left: 30%;
    border-radius: 6%;
    background-color: #dbaad8;
    border: 0px solid  #dbaad8;
}
.but1 button{
     margin-top: 1vw;
    height: 39px;
    width: 11%;
    color: white;
    margin-left: 30%;
    border-radius: 6%;
    background-color: #dd64d5;
    border: 0px solid  #dbaad8;

}

.b-2 button{
    
    height: 120%;
    width: 293%;
    border-radius: 50%;
    background-color: white;
    background-color: #423E35;
    margin-left: 30%;
    border: 2px solid black;

}
.b-2 {
    width: 6%;
    height: 18vh;

   
}
.b-2 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  
   
}
.but1 button{
    height: 39px;
    width: 11%;
    margin-left: 30%;
    border-radius: 6%;
    /* background-color: #dbaad8; */
    border: 0px solid  #dbaad8;

}
.select{
    width: 100%;
    height: 100vh;
    /* background-color: purple; */
}
.select svg {
    /* background-color: yellow; */
    margin-left: -48px;
    margin-top: 25px;
    height: 32px;
    width: 16%;
    color: palevioletred;
}
.select h1{
    margin-top: 40px;
    margin-left: 30%;
    padding-bottom: 10px;

}
.select p{
    font: 20px;
    margin-left: 27%;
    color: gray;
}
.parent{
    margin: 30px;
    margin-left: 10%;
    width: 80%;
    height: 50%;
    display: flex;
    gap: 3vw;
    /* background-color: red; */
}
.parent img{
    width: 80%;
    object-fit: cover;
}
.child1{
    
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rebeccapurple; */
}
.child2{
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rgb(196, 187, 204); */
}
.child3{
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rgb(3, 2, 4); */

}
.child3 h3{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.parent h2{
    font: 20px;
    text-align: center;
}
.parent input{
   margin-left: 47%;
   height: 40px;
}
.child4 button{
    padding-top: 2vw;
    margin-left: 42%;
    /* padding: 1px; */
    width: 12%;
    padding: 10px;
    font-size: 17px;
    border-radius: 4%;
    color: white;
    background-color: #f5a4da;
   
}
.child3-1{
    width: 30%;
    height: 100%;
    border: 2px solid #f4b9ee;
}
.child3-1 h3{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.child5 button{
    padding-top: 2vw;
    margin-left: 42%;
    /* padding: 1px; */
    width: 12%;
    padding: 10px;
    font-size: 17px;
    border-radius: 4%;
    color: white;
    background-color: #eb62bd;
   
}

.navbar{
    margin-top: 2vw;
    width: 100%;
    height: 100px;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-left{
    display: flex;
    gap: 2vw;
    list-style-type: none;
   
    /* text-transform: uppercase; */
}

.navbar-left li a{
    text-decoration: none;
    color: #5c5952;
   
}
.navbar-right{
    display: flex;
    gap: 1vw;
}
.navbar-right input{
    padding: 6px;
}
.navbar-right button{
    padding: 7px;
    background-color: palevioletred;
    color: white;
}
.text{
    width: 100%;
    height: 80vh;
    /* background-color: orangered; */
}
.move{
    margin-top: 3vw;
    text-align: center;
}
.move p{
    margin-top: 1.8vw;
    font-size: 20px;
    color: gray;
}
.move span{
    color: #eb62bd;
}

.move h5{
    margin-top: 1vw;
    font-size: 25px;
}
.footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(246, 245, 245);
    display: flex;
    justify-content: space-evenly;
}
.margin{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2vw;
    
}
.margin li {
    list-style-type: none;
    padding: 7px 0px;
}
.margin li a{
    text-decoration: none;
    font-size: 19px;
    color: gray;
    
    
}
.margin h6{
    font-size: 20px;
}
.icon img{
    margin-top: 1vw;
    padding: 0px 8px;
}
.copy{
    width: 100%;
    height: 50px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(246, 245, 245);
    border: 1px solid   rgb(237, 236, 236);
}
.copy-right{
    display: flex;
    gap: .8vw;
}
.copy-right p{
    font-weight: 700;
}
.copy-right h1{
    font-size: 16px;
    font-weight: 70;
}
/* =======================media=========================== */


@media (max-width:600px) {
    body{
        min-height: 100vh;
        width: 100vw;
        overflow-x: hidden;
    }
    .login-right h3{
        font-size: 15px;
        margin-top: -39px;
        text-align: end;
        margin-right: 80px;
    }

    .login-right h1{
        margin-top: 90px;
        margin-left: 80px;
        font-size:20px;
        letter-spacing: 2px;
         
      }

      .login-right p{
        margin-top: 10px;
        margin-left: 90px;
        color: rgb(203, 45, 150);
         
    }
    .login-right{
        width: 66%;
        height: 100%;
        background-color: rgb(231, 231, 231);
        
    
    }
    .login{
        width: 110%;
        height: 100vh;
        background-color: grey;
        display: flex;
    }

    .form input{
        border: 1px solid gray;
        margin-left: 15%;
        height: 36px;
        border-radius: 30px;
        width: 46%;
       /* text-align: center; */
       /* align-items: flex-start; */
    }
    .move-left{
        margin-left: -50px;
    }
    .login-right svg {
        /* background-color: yellow; */
        margin-left: 60px;
        margin-top: 12px;
        height: 32px;
        width: 16%;
        color: palevioletred;
    }

    .upload svg {
        /* background-color: yellow; */
        margin-left: 10px;
        margin-top: 25px;
        height: 32px;
        width: 16%;
        color: palevioletred;
    }
    
    .avtar{
        display: flex;
        margin-left: 30%;
        gap: 22vw;
    }
    .checkbox{
        margin-top: 19px;
        margin-left: 15%;
    }
    .login button{
        background-color: rgb(210, 86, 162);
        color: white;
        padding: 12px;
        margin-top: 12px;
        margin-left: 17%;
        border-radius: 20px;
        width: 28%;
    }
    .login-right h4{
        margin-top: 20px;
        font-size: 14px;
        margin-left: 15%;
        color: rgb(83, 81, 81);
    }
    .login-left img{
        width: 100%;
        height: 100%;
        /* border: 3px solid rgb(12, 12, 11); */
    }
    .b-2 {
        width: 15%;
        height: 18vh;
    
       
    }
    .b-2 img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      
}

.parent{
    margin: 30px;
    margin-left: 10%;
    width: 80%;
    height: 30%;
    display: flex;
    gap: 3vw;
    /* background-color: red; */
}
.parent img{
    width: 80%;
    object-fit: cover;
}
.child1{
    
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rebeccapurple; */
}
.child2{
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rgb(196, 187, 204); */
}
.child3{
    width: 30%;
    height: 100%;
    border: 1px solid #423E35;
    /* background-color: rgb(3, 2, 4); */

}
.child3 h3{
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
}
.upload input{
    
    margin-left: 30%;
    width: 32%;
    height: 29px;
}
.select svg {
    /* background-color: yellow; */
    margin-left: -1px;
    margin-top: 5px;
    height: 32px;
    width: 16%;
    color: palevioletred;
}
.select h1{
    margin-right: 30px;
}
.navbar{
    margin-top: 2vw;
    width: 100%;
    height: 100px;
    /* background-color: brown; */
    display: flex;
    gap: 4vw;
    /* align-items: center;
    justify-content: space-between; */
    font-size: 11px;
    
}
.navbar-right input{
    width: 40%;
}
.text{
    width: 100%;
    height: 60vh;
    /* background-color: orangered; */
}
.margin h6{
    font-size: 16px;
}
.margin li a{
    text-decoration: none;
    font-size: 15px;
    color: gray;
    
    
}
.margin p{
    font-size: 11px;
}
.icon img{
    width: 16%;
    margin-top: 1vw;
    padding: 0px 1px;
}
.margin{
    width: 100%;
    height: 60vh;
    display: flex;
    gap: 3vw;
    margin-top: 2vw;
    
}
.login-right h4{
    font-size: 13.4px;
    margin-left: 67px;
}
.login-right label{
    font-size: 13.4px;
}
.givem{
    margin-right: 40px;
}

}